{% extends 'base.html' %}

{% block title %}Page Not Found{% endblock %}

{% block main %}


<div class="container text-center">
  <h1 class="jumbotron-heading">Page Not Found</h1>
  <p class="lead">That was not found. Click on the Home page below.</p>
  <p>
    <a href="{{ url_for('home') }}"><button class="btn btn-primary my-2">Home</button></a>
  </p>
</div>


{% endblock %}